* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bakbak One', cursive;
}

body {
  background-color: lightskyblue;
}

h3 {
  display: flex-start;
}

.title {
  text-align: center;
  margin: 0 0 2rem 0;
  font-size: 5rem;
  font-weight: 200;
}

.title-img {
  width: 400px;
  display: block;
  margin: 1rem auto 0 auto;
}

#game-container {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}

#buttons {
  text-align: center;
}

#game-info h2 {
  /* margin: 2rem; */
  text-align: center;
  font-weight: 200;
}

#player-1 h2, #player-2 h2 {
  margin: 0.5rem;
}

#player-1 h2 {
  text-align: right;
}

#player-2 h2 {
  text-align: left;
}

.grid {
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid black;
}

.row {
  display: flex;
  width: 100%;
}

.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
}

.square:hover {
  background-color: hsl(240, 100%, 15%);
  cursor: pointer;
}

.game-objects {
  /* display: flex; */
  /* text-align: center; */
}

.ship-container {
  margin: 0 5px;
  padding: 1px;
  background-color: lightblue;
  /* justify-items: right; */
  height: fit-content;
  width: fit-content;
  display: flex;
  /* align-items: center; */
}

/* .ship {
  height: 30px;
  display: flex;
} */

.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
  transform: rotate(90);
}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}

.battleship-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}

.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}

.destroyer {
  background-color: black;
}

.submarine {
  background-color: red;
}

.cruiser {
  background-color: purple;

}

.battleship {
  background-color: orange;

}

.carrier {
  background-color: green;

}
/* .ship div {
  background-color: black;
  width: 40px;
  height: 40px;
} */

/* .row {
  background-color: black;
} */
footer {
  position: absolute;
  bottom: 2vh;
  text-align: center;
  width: 100%;
}

.ship-cell {
  background-color: red;
}

.grid.ship-placed {
  background-color: lightblue;
}
