* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bakbak One', cursive;
}

body {
  background-color: lightskyblue;
  text-align: center;
}

h3 {
  display: flex-start;
}

button {
  width: 60px;
  margin: 10px auto;
}

.title {
  /* text-align: center; */
  margin: 0 0 0rem 0;
  font-size: 5rem;
  font-weight: 200;
}

.title-img {
  width: 400px;
  display: block;
  margin: 1rem auto 0 auto;
}

#start-button {
  /* margin-left: 50%; */
  /* text-align: center; */
}

#game-container {
  margin: 2rem;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
}


#game-info h2 {
  text-align: center;
  font-weight: 200;
}

#player h2, #computer h2 {
  margin: 0.5rem;
}

#player h2 {
  text-align: right;
}

#computer h2 {
  text-align: left;
}

.grid {
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: wrap;
  width: 302px;
  height: 302px;
  margin: 0 auto;
  border: 1px solid black;
}

/* .row {
  display: flex;
  width: 100%;
} */

.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
}

.square:hover {
  opacity: 0.8;
  cursor: pointer;
}

.game-objects {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ship-container {
  padding: 1px;
  background-color: lightblue;
  /* justify-items: right; */
  height: 80px;
  /* width: fit-content; */
  display: flex;
  align-items: center;
  justify-content: center;
}


.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
  background-color: black;

}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}

/* const destroyer = new Ship('destroyer', 2);
const submarine = new Ship('submarine', 3);
const cruiser = new Ship('cruiser', 3);
const battleship = new Ship('battleship', 4);
const carrier = new Ship('carrier', 5); */

.destroyer {
  background-color: black;
}

.submarine {
  background-color: red;
}

.cruiser {
  background-color: purple;

}

.battleship {
  background-color: orange;

}

.carrier {
  background-color: green;

}

footer {
  /* position: absolute; */
  /* bottom: 5vh; */
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.ship-cell {
  background-color: red;
}

.grid.ship-placed {
  background-color: lightblue;
}
